* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    background: #1B1C21;
}

.lateral {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 70px;
    display: flex;
    flex-wrap: wrap;
}

.main_iconos {
    width: 100%;
}

.main_iconos div {
    width: 100%;
    text-align: center;
}

.logo {
    margin-top: 5px;
}

.div_paginas {
    margin: 20px 0px;
}

.lateral .fas {
    color: white;
}

.lateral .fas:hover {
    color: #0480DC;
}

.fa-signature {
    font-size: 40px;
}

.paginas {
    font-size: 20px;
}

.main_opciones {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.caja_opciones {
    width: 100%;
}

.div_opciones {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

.opciones {
    font-size: 30px;
}

.principal {
    margin-left: 5.5vw;
    width:94.5vw;
    min-height: 100%;
}

.superior {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-top: 20px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    height: 40px;
}

.perfil p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 13px;
    margin-right: 10px;
}

.panel_interior {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}